@font-face {
  font-family: Inter;
  src: url('../assets/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: Prata;
  src: url('../assets/Prata/Prata-Regular.ttf');
}


body{
  margin: 0;
  padding: 0;
  background: #edb195;
}

.box{
  width: 100%;
  height: auto;

  display: grid;
  align-items: center;
  grid-template-rows: 55% 45%;

  text-align: center;
}

.image{
  width: 40vw;
  height: auto;
  box-shadow: 2px 2px 5px #e46b43;
}


.box-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#word{
  font-size: 25px;
  letter-spacing: 8px;
  color: #3c0f0f;
}

p, #clue, #score, #time{
  font-family: Inter;
  color: #3c0f0f;
}

#time{
  font-weight: bold;
  color: #f91a10;
}



.keyboard{
  width: 92vw;
  height: 32vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard-row{
  width: inherit;
  height: 8vh;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.keyboard-btn{
  width: 30px;
  height: 30px;

  display: grid;
  align-content: center;

  font-family: Prata;
  font-size: 15px;

  color: #3c0f0f;
  background: #f91a10;
  border-radius: 4px;
  cursor: pointer;
}



.clue-btn, .refresh-btn{
  align-self: center;
  text-align: center;

  width: 40%;
  padding: 10px 12px;

  font-family: Inter;
  font-size: 17px;

  border-radius: 4px;
  border: none;

  background: #f91a10;
  cursor: pointer;
  transition: 0.2s;
}

.clue-btn{
  display: none;
}

.clue-btn:hover, .refresh-btn:hover{
  background: #3c0f0f;
  color: #fdfdfd;
}



.box .notif-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: none;
  align-items: space-evenly;
  justify-content: center;
  flex-direction: column;

  width: 80vw;
  height: 35vh;

  background: #edb195;
  border-radius: 4px;
  border: 2px solid #3c0f0f;
}

#notif-message{
  font-family: Inter;
}



@media screen and (min-width: 768px){
  .image{
    margin: 0;
    width: 45%;
  }

  .box{
    height: 100vh;
    align-content: center;
    flex-wrap: wrap;

    grid-template-rows: none;
    grid-template-columns: 40% 60%;
  }

  .keyboard{
    width: 60vw;
    height: 30vh;
  }

  .keyboard-row{
    gap: 1rem;
  }

  .btn{
    width: 20%;
  }

  .box .notif-box{
    width: 40vw;
    height: 40vh;
  }
}
